@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Caveat:wght@400..700&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Gupter:wght@400;500;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

/* Reset Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: var(--red); */
  overflow-x: hidden;
}

/* Custom Variables */
:root {
  --blue: #060a90;
  --white: #fff;
  --pink: #fdd4d4;
  --red: #f42829;
  --gray: #4a4755;
  --f9: #f3f2f2;
  --aqua: #18ab92;
  --sky: #00ccff;
}

/* Font Family */
h1, h2, h3, h4, p, span, button {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* Heading Styles */
h1 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 15px;
  font-weight: 700;
}

h4 {
  font-size: 17px;
  font-weight: 700;
}

/* Paragraph Styles */
p {
  font-size: 14px;
  font-weight: 400;
  color: var(--gray);
}

/* Button Styles */
.box {
  width: 100%;
  padding: 10px;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 15px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Header Styles */
.head > h1 {
  margin-top: 10px;
  font-size: 36px;
  font-weight: 800;
}

.head h1 {
  margin-bottom: 30px;
  color: var(--blue);
}

/* Image Styles */
.img1, .img2 {
  margin-bottom: 50px;
}

.head img {
  width: 180px;
  /* height: auto; */
}

/* General App Styles */
.App {
  max-width: 500px;
  margin: auto;
}

/* Content Styles */
.content {
  text-align: center; 
  padding: 15px;
}

/* Button and Hover Effects */
button,
i,
img:hover {
  cursor: pointer;
}
